.bgimgContainer{
    margin-top: 50px;
    background-image: url('https://lookaside.fbsbx.com/elementpath/media/?media_id=311159701484410&version=1725960168&transcode_extension=webp');
    background-repeat: no-repeat;
    height: 85vh;
    background-size: 100% 100%;
}
.elContainer{
    width: 50%;
    height: 100%;
    padding: 0 0 0 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    & > p{
        width: 80%;
    }
}